footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgb(244, 244, 244);
  .icons {
    display: flex;
    gap: 10px;
    i {
      font-size: 3rem;
      border: 3px solid rgb(138, 133, 133);
      border-radius: 50%;
    }
  }
}
